{% extends "bootstrap/base.html" %}

{% block title %}Ranking{% endblock %}

{% import "bootstrap/google.html" as google %}

{% block head %}
{{ super() }}
<link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/tablesorter.css') }}">
<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
{% endblock %}

{% block scripts %}
{{super()}}
{{google.uanalytics('UA-168052698-1')}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.min.js"></script>
<script>
const config_start = {
    maxDate:"{{max_day}}",
    minDate:"2020-05-18",
  dateFormat: "Y-m-d",
  defaultDate: "{{start_day}}",
  locale:"ja"
}
    flatpickr('.flatpickr_start',config_start);

</script>
<script>
    $(document).ready(function() {
    $('#rankingTable').tablesorter();
});
</script>
{% endblock %}


{% block content %}

<header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">RingFit Ranker</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Ranking</a></li>
            <li><a href="user">User</a></li>
            <li><a href="about">About</a></li>
           </ul>
         </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
</header>

<div class="container">




    <h2 >Exercise Ranking</h2> <div class="text-muted">({{start_day}} 04:00:00 ～ {{stop_day}} 03:59:59)</div>
    <hr style="margin-top:0.5em;margin-bottom:1em;">
                <div class="form-inline">
                    <form class="form-group">
                        <label>集計日</label>
                        <input class="flatpickr_start" type="text" placeholder="Select Date.." readonly="readonly" name="day">
                        <button type="submit"  class="btn btn-primary">集計する</button>
                    </form>
                </div>
    <div style="text-align:center;">{{ pagination.links }}</div>


          <div class="table-responsive">
            <table class="tablesorter table table-striped table-s" id="rankingTable">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>Username</th>
                  <th>kcal</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
    {% for result in results %}
    <tr>
        <td>{{ result[0] }}</td>
        <td>{{ result[1] }}</td>
        <td>{{ result[2] }}</td>
        <td>{{ result[3] }}</td>
    </tr>
    {% endfor %}

               </tbody>
            </table>
          </div>
    <div style="text-align:center;">{{ pagination.links }}</div>
    <div style="text-align:center;">{{ pagination.info }}</div>


{% include "footer.html" %}

</div>



{% endblock %}