{% extends "bootstrap/base.html" %}

{% block title %}Ranking{% endblock %}

{% import "bootstrap/google.html" as google %}

{% block head %}
{{ super() }}
<link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/tablesorter.css') }}">
{% endblock %}

{% block scripts %}
{{super()}}
{{google.uanalytics('UA-168052698-1')}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.min.js"></script>
<script>
    $(document).ready(function() {
    $('#personalTable').tablesorter();
});
</script>
{% endblock %}


{% block content %}

<header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">RingFit Ranker</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">Ranking</a></li>
            <li class="active"><a href="user">User</a></li>
            <li><a href="about">About</a></li>
           </ul>
         </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
</header>

<div class="container">




    <h2 >いままでの運動記録</h2>
    <hr style="margin-top:0.5em;margin-bottom:1em;">
                <div class="form-inline">
                    <form class="form-group">
                        <label>ユーザ名</label>
                        <input type="text" placeholder="Input Username ..." name="user" value="{{user}}">
                        <button type="submit"  class="btn btn-primary">集計する</button>
                    </form>
                </div>
    <div style="text-align:center;">{{ pagination.links }}</div>


          <div class="table-responsive">
            <table class="tablesorter table table-striped table-sm"  id="personalTable">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>kcal</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
    {% for result in results %}
    {% if result[3] == "6" %}
    <tr style="color:#0041FF;">
    {% elif result[3] == "0" %}
    <tr style="color:#FF2800;">
    {% else %}
    <tr>
    {% endif %}
        <td>{{ result[0] }}位</td>
        <td>{{ result[1] }}</td>
        <td>{{ result[2] }}</td>
    </tr>
    {% endfor %}

               </tbody>
            </table>
          </div>
    <div style="text-align:center;">{{ pagination.links }}</div>
    <div style="text-align:center;">{{ pagination.info }}</div>


{% include "footer.html" %}

</div>

{% endblock %}